.body {
    font-family: "Lato", sans-serif;
}

#cities {
    height: 100%;
    width: 160px;
    position: fixed;
    color: white;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: navy;
    overflow-x: hidden;
    padding-top: 20px;
    border: solid 5px navy;
}

#logo {
    color: white;
    margin: 5px;
    text-align: center;
}

#weather {
    margin-left: 180px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}